<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communityserver.mapper.PostMapper">

    <insert id="addPost" parameterType="com.communityserver.dto.PostDTO" useGeneratedKeys="true" keyProperty="postNumber">
        INSERT INTO post (postNumber, categoryNumber, userNumber, postName, adminPost, contents, createTime, suggestionCount, views)
        VALUES (#{postNumber}, #{categoryNumber}, #{userNumber}, #{postName}, #{adminPost}, #{contents}, now(), #{suggestionCount}, #{views})
    </insert>

    <select id="checkHasPermission" resultType = "int">
        SELECT COUNT(postNumber)
        FROM post
        WHERE post.userNumber = #{userNumber}
        and postNumber = #{postNumber}
    </select>

    <select id="updatePost" parameterType="com.communityserver.dto.PostDTO">
        UPDATE post
        SET postName = #{postName},
        contents = #{contents}
        WHERE postNumber = #{postNumber}
    </select>

    <update id = "addViews" >
        UPDATE post
        SET views = views + 1
        WHERE postNumber = #{postNumber}

    </update>

    <select id="selectPost" resultType = "com.communityserver.dto.PostDTO">
        SELECT postNumber, categoryNumber, userNumber, postName, adminPost, contents, createTime, suggestionCount, views
        FROM post
        WHERE postNumber = #{postNumber}
    </select>

    <select id = "addComments" resultType = "com.communityserver.dto.PostDTO">
        INSERT comments
        VALUES (#{commentsNumber}, #{postNumber}, #{contents}, #{userId}, now())
    </select>

    <delete id = "deletePost">
        DELETE FROM post
        WHERE postNumber = #{postNumber}
        and userNumber = #{userNumber}
    </delete>
</mapper>